<template>
  <main>
    <h1>Introdução</h1>
    <p>Essa é uma página de introdução do meu desafio da startup "Quebrou?".
    O desafio era criar uma página de introdução, uma de listagem
    (em outra página) e uma de detalhamento (também em outra página) utilizando Nuxt.js
    e uma API de minha preferência. Eu escolhi a <a href="https://pokeapi.co/">PokéAPI</a> para realizar meu desafio.</p>

    <NuxtLink to="/lista">
    Lista de Pokemons
    </NuxtLink>

    <p>Se desejar, já na página "Lista"
    você poderá clicar em qualquer Pokemon para obter suas características.</p>
  </main>
</template>


