<template>
  <div>
    <h1>Lista</h1>
    <p><strong>Nesta página você pode clicar em qualquer pokemon para que possa
      ver suas características.</strong></p>
    <ul class="list-group">
      <li class="list-group-item" v-for="pokemon in detailedPokeList" v-bind:key="pokemon.id" @click="detailPokemon(pokemon)">
      <p>{{ pokemon.name }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {

  name: "ListaPokemons",
  data: function() {
    return {
      detailedPokeList: []
    }
  },
  mounted: function() {
    this.recuperarAPI();
  },
  methods: {
    recuperarAPI: function() {
      this.$axios.$get('https://pokeapi.co/api/v2/pokemon?limit=100')
      .then((pokeResult) => {
        var pokeList = pokeResult['results'];
        pokeList.forEach(pokeCharacteristics => {
          this.$axios.$get(pokeCharacteristics.url)
          .then((poke) => {
            this.detailedPokeList.push(poke)
          })
        });
      })
    },
    detailPokemon: function(pokeObj) {
      this.$router.push(`/detalhamento/${pokeObj.id}`);
    }
  }
}
</script>