<template>
  <div>
      <div class="card" style="width: 18rem;">
        <div v-if="pokemonData">
          <img :src="pokemonData.sprites.front_default" class="card-img-top" alt="....">
          <div class="card-body">
            <h5 class="card-title">Características</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li>Nome: {{pokemonData.name}}</li>
            <li>Altura: {{pokemonData.height}}</li>
            <li>Id: {{pokemonData.id}}</li>
            <li>Peso: {{pokemonData.weight}}</li>
            <li>Experiência: {{pokemonData.base_experience}}</li>
          </ul>
        </div>
    </div>
    <p>
    <p>Caso queira, você pode voltar para a <NuxtLink to="/">página inicial</NuxtLink> ou para a
    <NuxtLink to="/lista">página anterior</NuxtLink></p>
  </div>
</template>


<script>
export default {
  name: 'detalhamento',
  data: function() {
    return {
      pokemonData: null
    }
  },
  mounted: function() {
      this.getPokemonData()
  },
  methods: {
    getPokemonData: function() {
      var pokemonId = this.$route.params.id;
      this.$axios.$get(`https://pokeapi.co/api/v2/pokemon/${pokemonId}`)
      .then((pokeResult) => {
        this.pokemonData = pokeResult;
      })
    }
  }
}
</script>
